* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7e12f; /* Minion sarısı */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes-wrapper {
  display: flex;
  gap: 40px;
}

.eye {
  width: 150px;
  height: 150px;
  background: white;
  border: 8px solid #444;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.eyeball {
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
  position: relative;
}
